@model AdminService.Models.GameCreation
@{
    ViewData["Title"]="Game Creation Interface";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstTeamCode" class="control-label"></label>
                <input asp-for="FirstTeamCode" class="form-control" list="TeamCode"/>
                    <datalist id = TeamCode>
                        @foreach (var team in ViewData["TeamObject"] as IList<Team>)
                        {
                            <option value="@team.Code - @team.Name"></option>
                        }
                    </datalist>
                <span asp-validation-for="FirstTeamCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondTeamCode" class="control-label"></label>
                <input asp-for="SecondTeamCode" class="form-control" list="TeamCode"/>
                <span asp-validation-for="SecondTeamCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date (yyyy-mm-ddThh:mm)</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationMinutes" class="control-label"></label>
                <input asp-for="DurationMinutes" class="form-control" />
                <span asp-validation-for="DurationMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
            <div style=color:red>@ViewData["ErrMsg"]</div>
        </form>
    </div>
 </div>   
<div>
    <p></p>
    <h3 style=color:red>@ViewData["UpstreamResponse"]</h3>
    <p style=color:red>@ViewData["UpstreamRawResponse"]</p>
    <div><a asp-action="Index">Go back to Game lists</a></div>
</div>