@model AdminService.Models.Game
@{
    ViewData["Title"]="Game Details - "+Model.Code;
}

<script type="text/javascript">
        function ConfirmDel(){
            var usrSelection = confirm("Are you sure you want to delete this game?");
            if (usrSelection==true){
                var usrInput = prompt("Please enter the Code of the game to CONFIRM DELETION","Game Code Here");
                if (usrInput=="@Model.Code") {
                window.location.href = "/game/delete/@Model.Code";
                }
                else {
                    alert("Game does not match, Operation canceled.");
                }
            }else {
                alert("The game will not be deleted");
            }
        }
</script>
<html>
<h1>@ViewData["Title"]</h1>

@if ((string)ViewData["ErrCode"]=="404")
{
    <div style=color:red>
        <h2>Error 404</h2>
        <h3>The requested Game was not found</h3>
    </div>
} else {
<div>
<table class=table style=table-layout:fixed>
    <tbody>
        <tr>
            <th colspan="2">@Model.Code</th>
            <th >@Model.State</th>
            <th >ID: @Model.Id</th>
        </tr>


        <tr style="color: aqua;" >
            <th colspan="2">Team 1</th>
            <th colspan="2">@Model.TeamGameSummaries[0].Team.Name</th> 
        </tr>
        
        <tr>
            <th >SummaryID</th>
            <th >@Model.TeamGameSummaries[0].Id</th>
            <th >TeamID</th>
            <th >@Model.TeamGameSummaries[0].TeamId</th>
        </tr>
        <tr>
            <th >Winner?</th>
            <th >@Model.TeamGameSummaries[0].IsWinner</th>
            <th >Score</th>
            <th >@Model.TeamGameSummaries[0].Score</th>
        </tr>
        <tr>
            <th colspan="2">Players</th>
            <th colspan="2">@Model.TeamGameSummaries[0].NumberOfPlayers</th>
        </tr>

        <tr style="color: aqua;" >
            <th colspan="2">Team 2</th>
            <th colspan="2">@Model.TeamGameSummaries[1].Team.Name</th> 
        </tr>
        
        <tr>
            <th >SummaryID</th>
            <th >@Model.TeamGameSummaries[1].Id</th>
            <th >TeamID</th>
            <th >@Model.TeamGameSummaries[1].TeamId</th>
        </tr>
        <tr>
            <th >Winner?</th>
            <th >@Model.TeamGameSummaries[1].IsWinner</th>
            <th >Score</th>
            <th >@Model.TeamGameSummaries[1].Score</th>
        </tr>
        <tr>
            <th colspan="2">Players</th>
            <th colspan="2">@Model.TeamGameSummaries[1].NumberOfPlayers</th>
        </tr>


        <tr>
            <th >WinningCode</th>
            <th >@Model.WinnerCode</th>
            <th >Duration</th>
            <th >@Model.DurationMinutes</th>
        </tr>
        <tr>
            <th colspan="1">Date</th>
            <th colspan="3">@Model.Date</th>
        </tr>
        <tr>
            <th colspan="1">CreatedBy</th>
            <th colspan="3">@Model.CreatedBy</th>
        </tr>
    </tbody>
</table>
</div>
<div style=color:red>
    <h2>DANGER ZONE</h2>
    <p>WARNING: THIS ACTION IS IRREVERSEABLE!!!</p>
    <button class="btn btn-primary" onclick="ConfirmDel()">PROCEED TO DELETE</button>
</div>
}
<div><a asp-action="Edit" asp-route-id="@Model.Code">(Advanced) Edit Game</a></div>
<div><a asp-action="Index">Go back to Team lists</a></div>
</html>