@model List<AdminService.Models.Game>
@{
    ViewData["Title"]="Game Management Interface";
}
<h1>@ViewData["Title"]</h1>
<h2>Games</h2>
<div>
@if (Model.Count==0) {<h2>There isn't any games now.</h2>} else{
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DurationMinutes)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationMinutes)
            </td>
            <td>
                <a asp-action="StartGame" asp-route-id="@item.Code">StartGame</a> |
                <a asp-action="Detail" asp-route-id="@item.Code">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
</div>
<div>
    <a href="game/history">History Games</a>
</div>
<div>
    <a href="game/create">Create Game</a>
</div>
