@model AdminService.Models.Team
@{
    ViewData["Title"]="Team Details - "+Model.Code;
}

<!DOCTYPE html>
<script type="text/javascript">
        function ConfirmDel(){
            var usrSelection = confirm("Are you sure you want to delete this team?");
            if (usrSelection==true){
                var usrInput = prompt("Please enter the Name of the team to CONFIRM DELETION","Team Name Here");
                if (usrInput=="@Model.Name") {
                window.location.href = "/team/delete/@Model.Code";
                }
                else {
                    alert("Team name does not match, Operation canceled.");
                }
            }else {
                alert("The team will not be deleted");
            }
        }
</script>
<html>
<h1>@ViewData["Title"]</h1>

@if ((string)ViewData["ErrCode"]=="404")
{
    <div style=color:red>
        <h2>Error 404</h2>
        <h3>The requested Team was not found</h3>
    </div>
} else {
<div>
<table class=table style=table-layout:fixed>
    <tbody>
        <tr>
            <th colspan="2">@Model.Name</th>
            <th >@Model.Code</th>
            <th >ID: @Model.Id</th>
        </tr>
        <tr>
            <th >WinningRate</th>
            <th >@Model.WinningRate</th>
            <th >Rank</th>
            <th >@Model.Rank</th>
        </tr>
        <tr>
            <th colspan="3">Configurations</th>
            <th >Conf.ID : @Model.Id</th>
        </tr>
        <tr>
            <th colspan="2">RouterIpAddress</th>
            <th colspan="2">@Model.Config.RouterIpAddress</th>
        </tr>
        <tr>
            <th colspan="2">Port</th>
            <th colspan="2">@Model.Config.RouterPort</th>
        </tr>
        <tr>
            <th colspan="2">ConnectionType</th>
            <th colspan="2">@Model.Config.ConnectionType</th>
        </tr>
    </tbody>
</table>
</div>
<div style=color:red>
    <h2>DANGER ZONE</h2>
    <p>WARNING: THIS ACTION IS IRREVERSEABLE!!!</p>
    <button class="btn btn-primary" onclick="ConfirmDel()">PROCEED TO DELETE</button>
</div>
}
<br>
<div><a asp-action="Edit" asp-route-id="@Model.Code">(Advanced) Edit Team</a></div>
<div><a asp-action="Index">Go back to Team lists</a></div>
</html>