@model List<AdminService.Models.Team>;
@{
    ViewData["Title"]="Team Management Interface";
}
<body>
    <h2>Top Team Infomation</h2>
    <a href="/team/create">Create team</a>
      <p>This page will display the top 10 team in our database</p>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Code)
            </th>
            <th>g
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].WinningRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningRate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Code">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Code">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>