@model List<AdminService.Models.Team>;
@{
    ViewData["Title"]="Team Management Interface";
}

@if ((string)ViewData["ErrCode"]=="-1") 
{
  <h1 style=color:red>Connection Failed</h1>
  <h3 style=color:red>Connection to Storage Service was Unsuccessful</h3>
} else 
{
<body>
    <h1>Team Infomation</h1>
    <a href="team/create"> Create team </a>
      <p>This page will display the top 10 team in our database</p>
    <div>
        <form asp-controller="Team" asp-action="Index" method="GET">
    <p>
        Name: <input type="text" name="searchString" value='@ViewData["searchString"]' >
        <input type="submit" value="Filter" />
    </p>
</form>
    </div>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].WinningRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningRate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Code">Edit</a> |
                <a asp-action="Detail" asp-route-id="@item.Code">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
}